bot_config:
    auth_token:
    admins:
        ids: []
        roles: []
    disabled_extensions: ["kanye"]
    default_prefix: "."
database:
    postgres:
        user:
        password:
        name:
        host: postgres
        port: 5432
    mongodb:
        user:
        password:
        name:
        host: mongodb
        port: 27017
api:
    github:
        api_key:
        username:
        repo:
    irc:
        enable_irc: False
        server: "irc.libera.chat"
        port: 6667
        channels: []
        name:
        password:
    api_keys:
        dumpdbg:
        giphy:
        google:
        google_cse:
        news:
        open_weather:
        openai:
        spotify_client:
        spotify_key:
        wolfram:
    api_url:
        dumpdbg:
        linx:
logging:
    queue_enabled: True
    block_discord_send: False
    queue_wait_seconds: 3
cache:
    guild_config_cache_length: 100
    guild_config_cache_seconds: 30
    http_cache_length: 100
    http_cache_seconds: 600
