version: '3.5'

services:
    discordBot:
        image: rtechsupport/techsupport-bot:prod
        build: .
        container_name: discordBot
        environment:
            - DEBUG=0
            - TZ=UTC
        restart: unless-stopped
        stop_signal: SIGINT
        ports:
            - "127.0.0.1:8765:8765"
            - "127.0.0.1:20000:20000"
        volumes:
            - ./config.yml:/var/TechSupportBot/techsupport_bot/config.yml
        networks:
            - all
        depends_on:
            - postgres
            - mongodb

    postgres:
        image: postgres:12.0-alpine
        container_name: postgres
        restart: unless-stopped
        ports:
            - "127.0.0.1:5432:5432"
        volumes:
            - ../DBs/postgres:/var/lib/postgresql/data/
        environment:
            - POSTGRES_USER=${POSTGRES_DB_USER}
            - POSTGRES_PASS=${POSTGRES_DB_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB_NAME}
        networks:
            - all

    mongodb:
        image: mongo:4.4
        container_name: mongodb
        volumes:
            - ../DBs/mongo:/data/db
        ports:
            - "127.0.0.1:27017:27017"
        environment:
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_DB_PASSWORD}
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_DB_USER}
        restart: unless-stopped
        networks:
            - all

networks:
  all:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
