[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiocron = "==1.8"
bidict = "==0.22.1"
black = "==24.4.2"
dateparser = "1.2.0"
"discord.py" = "==2.4.0"
emoji = "==2.11.1"
expiringdict = "==1.2.2"
flake8 = "==7.1.0"
flake8-annotations = "==3.1.1"
flake8-bugbear = "==24.4.26"
flake8-docstrings-complete = "==1.3.0"
flake8-modern-annotations = "==1.6.0"
flake8-variables-names = "==0.0.6"
gino = "==1.0.1"
gitpython = "==3.1.43"
hypothesis = "==6.104.0"
ib3 = "==0.2.0"
inflect = "==7.2.1"
irc = "==20.1.0"
isort = "==5.13.2"
munch = "==4.0.0"
typing_extensions = "==4.8.0"
pip = "==24.1"
pipenv = "==2024.0.1"
pydantic = "==2.7.0"
pydoclint = "==0.4.1"
pylint = "==3.1.0"
pynacl = "==1.5.0"
pytest = "==8.2.2"
pytest-asyncio = "==0.23.7"
pyyaml = "==6.0.1"
unidecode = "==1.3.8"

[requires]
python_version = "3.11"
