[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiocron = "==1.8"
aio-pika = "==8.3.0"
aiounittest = "==1.4.2"
black = "*"
discord-ext-ipc = "==2.1.1"
"discord.py" = "==1.7.3"
emoji = "==0.5.4"
expiringdict = "==1.2.2"
gino = "==1.0.1"
inflect = "==6.0.2"
isort = "*"
mock = "==5.0.1"
motor = "==3.1.1"
munch = "==2.5.0"
pylint = "*"
pytest = "==7.2.1"
pyyaml = "==6.0"

[requires]
python_version = "3.9"
