[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
mock = "==4.0.2"
pytest = "==5.4.2"
aiounittest = "==1.3.1"

[packages]
"discord.py" = "==1.7.3"
botlogging = "==1.0.1"
motor = "==2.3.1"
gino = "==1.0.1"
aiocron = "==1.3"
aio-pika = "==6.7.1"
munch = "==2.5.0"
pyyaml = "==5.4"
emoji = "==0.5.4"
inflect = "==4.1.0"
discord-ext-ipc = "==2.0.0"
expiringdict = "==1.2.1"

[requires]
python_version = "3.9"
